@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

body {
  background-color: var(--clr1);
}

:root {
  --clr1: #080808;
  --clr2: #121212;
  --clr3: #212121;
  --clr4: #525252;
  --clr5: #9e9e9e;
  --clr6: #f2f2f2;

  --XL: 2rem;
  --L: 1.25rem;
  --M: 1rem;
  --S: 0.75rem;
  --XS: 0.5rem;
  --XXS: 0.3rem;

  --bold: 800;
  --semibold: 600;
  --medium: 500;
  --Regular: 400;
}
