body {
  overflow-x: hidden;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  body {
    scrollbar-width: thin; 
    scrollbar-color: transparent transparent;
    overflow: auto; 
  }

  body::-webkit-scrollbar {
    width: 0; 
  }
}


.About{
  margin-top: 200px;
  padding: 0px 15% 0px 15%;
  color: var(--clr6);
}

.About__Me{
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 25px;
  padding: 50px 15% 50px 15%;
}

.About__Left{
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.About__Me__Image{
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.About__Detail h3{
  font-weight: var(--bold);
  margin-bottom: -1.5rem;
  font-size: var(--XXL);
  letter-spacing: -1.2px;
}

.About__Detail p{
  margin-top: 1rem;
  font-size: var(--S);
  color: var(--clr5);
}

.About__Contact{
  margin-top: 30px;
  font-size: var(--S);
}

.Contact__Icon{
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid var(--clr6);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.About__Contact p{
  margin-bottom: 10px;
}

.About__Contact__detail{
  display: grid;
  grid-template-columns: 30px 1fr;
}

.About__Profile{
  margin-top: 50px;
}
.About__Profile h1{
  font-size: var(--L);
  letter-spacing: 1.4px;
  margin-bottom: 6px;
}

.About__Profile p{
  font-size: var(--S);
  color: var(--clr5);
}

.About__Profile__Link{
  margin-top: 16px;
  display: grid;
  grid-template-columns: 4px 40px 1fr;
  color: var(--clr6);
}

.About__Profile__Link__detail{
  color: var(--clr6);
  font-size: var(--S);
}

.About__Profile__Link__Line{
  background-color: var(--clr6);
  height: 100%;
}

.About__Profile__Link__Icon{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2px;
}

.About__Education{
  margin-top: 50px;
}

.About__Education__detail h2{
  font-size: var(--S);
  margin-bottom: 6px;
}

.About__Education__Cotainer{
  margin-top: 16px;
  display: grid;
  grid-template-columns: 60px 1fr;
}

.About__Education__KMUTT{
  margin-bottom: 16px;
}

.About__Education__Icon{
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.Education__ICON{
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Education__Line{
  width: 2px;
  height: 80px;
  background-color: var(--clr6);
  margin: 16px;
}

.Education__Dot{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--clr6);
  margin-bottom: 36px;
}

.About__Skill{
  padding: 0px 20% 0px 20%;
}

.About__Skill h1{
  font-size: var(--L);
  letter-spacing: 1.4px;
  margin-bottom: 16px;
}

.About__Skill h2{
  font-size: var(--S);
  color: var(--clr5);
  margin-bottom: 6px;
}

.About__Skill__Container{
  display: flex;
  flex-direction: row;
}

.Skill__Icon{
  height: 30px;
  width: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 16px;
  margin-right: 6px;
}

@media screen and (max-width: 1000px) {

  .About{
    margin-top: 100px;
  }

  .About__Left{
    margin-top: 10px;
  }

  .About__Me__Image{
    width: 75px;
    height: 75px;
  }

  .About h3{
    font-weight: var(--bold);
    margin-bottom: -1rem;
    font-size: var(--XL);
    letter-spacing: -1.2px;
  }

  .About__Contact__detail{
    display: grid;
    grid-template-columns: 20px 1fr;
  }

  .About__Profile__Link{
    grid-template-columns: 2px 30px 1fr;
  }

  .Contact__Icon{
    width: 12px;
    height: 12px;
  }

  .About__Profile__Link__Icon{
    font-size: 10px;
  }

  .About h1{
    font-size: var(--M);
  }

  .About__Profile__Link__detail{
    font-size: var(--XS);
  }

  .About h2{
    font-size: var(--XS);
  }

  .About p {
    font-size: var(--XS);
  }

  .About__Education__Cotainer{
    display: grid;
    grid-template-columns: 50px 1fr;
  }

  .About__Education__Icon{
    width: 40px;
  }

  .Education__ICON{
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .Skill__Icon{
    height: 20px;
    width: 20px;
    margin-bottom: 16px;
    margin-right: 6px;
  }

  .Education__Line{
    width: 1px;
    height: 50px;
    background-color: var(--clr6);
    margin: 16px;
  }
  
  .Education__Dot{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--clr6);
    margin-bottom: 36px;
  }

}
@media screen and (max-width: 600px) {
  .About__Me{
    grid-template-columns: 80px 1fr;
  }

  .About__Left{
    margin-top: 2px;
  }

  .About__Detail p{
    margin-top: 0.5rem;
  }

  .About{
    margin-top: 80px;
    padding: 0px;
  }

  .About__Me__Image{
    width: 50px;
    height: 50px;
  }

  .About h3{
    font-weight: var(--bold);
    margin-bottom: -0.5rem;
    font-size: var(--M);
    letter-spacing: -1.2px;
  }

  .About__Contact__detail{
    display: grid;
    grid-template-columns: 16px 1fr;
  }

  .About__Profile__Link{
    grid-template-columns: 2px 25px 1fr;
  }

  .Contact__Icon{
    width: 10px;
    height: 10px;
  }

  .About__Profile__Link__Icon{
    font-size: 8px;
  }

  .About h1{
    font-size: var(--S);
  }

  .About__Profile__Link__detail{
    font-size: var(--XXS);
  }

  .About h2{
    font-size: var(--XXS);
  }

  .About p {
    font-size: var(--XXS);
  }

  .About__Education__Cotainer{
    display: grid;
    grid-template-columns: 30px 1fr;
  }

  .About__Education__Icon{
    width: 25px;
  }

  .Education__ICON{
    width: 16px;
    height: 16px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .Skill__Icon{
    height: 20px;
    width: 20px;
    margin-bottom: 16px;
    margin-right: 6px;
  }

  .Education__Line{
    width: 1px;
    height: 16px;
    background-color: var(--clr6);
    margin: 16px;
  }
  
  .Education__Dot{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--clr6);
    margin-bottom: 36px;
  }
}