.Project {
  margin-top: 50px;
  padding: 0px 20% 50px 20%;
  color: var(--clr6);
}

.Project h1 {
  font-size: var(--L);
  letter-spacing: 1.4px;
  margin-bottom: 6px;
}

.Project h2 {
  font-size: var(--S);
  color: var(--clr6);
  margin-bottom: 6px;
}

.Project p {
  font-size: var(--S);
  color: var(--clr5);
}

.Work__Title__Container {
  display: grid;
  padding: 0px 15% 0px 15%;
  grid-template-columns: 1.5fr 0.5fr;
  margin-top: 50px;
}

.Work__Toppic {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Work__Text__Title {
  margin-bottom: 30px;
}

.Work__Text__Title a{
  color: var(--clr6);
}

.Work__Icon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: start;
  flex-direction: column;
}

.Work__Logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: start;
  flex-direction: column;
}

.Work__Logo__Text {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 6px;
}

.Work__Logo__Center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Work__Logo__Pic {
  width: 67px;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Work__Icon__Pic {
  width: 92px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 16px;
}

.Work__Text {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-gap: 16px;
}

.Project__Container {
  margin-top: 50px;
  padding: 0px 10% 0px 10%;
}

.Project__Header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 50px;
}

.Project__Header__Left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.Project__Link {
  display: flex;
  height: 35px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
}

.Project__Logo__Pic {
  width: 120px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 16px;
}

.Project__Body {
  margin-top: -30px;
  grid-gap: 16px;
  padding: 0px 5% 0px 5%;
  margin-bottom: 16px;
}

.Project__Banner {
  width: 100%;
  height: 0;
  padding-bottom: calc(2000 / 5144 * 100%);
  max-width: 5144px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.Project__Banner__MODX {
  width: 100%;
  height: 0;
  padding-bottom: calc(4136 / 3856 * 100%);
  max-width: 3856px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.MODX__Banner {
  width: 50%;
  height: 100%;
}

.CER {
  width: 30%;
  height: 100%;
}

.Banner__Mid {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.Project__MODX__MOCKUP {
  width: 100%;
  height: 0;
  padding-bottom: calc(2864 / 5018 * 100%);
  max-width: 5018px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
}

.Project__Banner__Savoly {
  width: 100%;
  height: 0;
  padding-bottom: calc(2625 / 3089 * 100%);
  max-width: 3089 px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
}

.Project__Banner__Style{
  width: 100%;
  height: 0;
  padding-bottom: calc(2541 / 2595 * 100%);
  max-width: 2595 px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 6px;
  margin-bottom: 50px;
}

.Project__Pesona {
  width: 100%;
  height: 0;
  padding-bottom: calc(1196.07 / 4097 * 100%);
  max-width: 4097 px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 50px;
}

.Project__Painpoits {
  font-size: var(--S);
  color: var(--clr6);
  padding: 0px 5% 0px 5%;
}

.Project__Pains {
  padding: 0px 5% 0px 5%;
}

.Project__CER {
  width: 100%;
  height: 0;
  padding-bottom: calc(969 / 1267 * 100%);
  max-width: 1267px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.Cer__Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-top: 16px;
  margin-bottom: 50px;
  padding: 0px 15% 0px 20%;
}

.Pains__Container {
  padding: 0px 15% 0px 15%;
}

.Cer__Container__Text a,
.Work__Text__Title a {
  text-decoration: none;
}

.Project__Link a:hover {
  cursor: pointer;
  transform: translateY(-1px);
}

.Cer__Container__Text h2:hover,
.Work__Text__Title a:hover {
  cursor: pointer;
  color: var(--clr5);
}

.Project__Banner:hover,
.Project__Banner__MODX:hover,
.Project__Banner__Savoly:hover,
.Project__MODX__MOCKUP:hover,
.Project__Banner__Style:hover,
.Project__Pesona:hover,
.Project__CER:hover {
  scale: 1.02;
}

@media screen and (max-width: 1000px) {
  .Project h1 {
    font-size: var(--M);
  }

  .Project h2 {
    font-size: var(--XS);
  }

  .Project p {
    font-size: var(--XS);
  }

  .Project__Logo__Pic {
    width: 80px;
    height: 23px;
    margin-right: 12px;
  }

  .Project__Link {
    height: 23px;
    margin-right: 20px;
  }

  .Work__Logo__Pic {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .Work__Icon__Pic {
    width: 65px;
    height: 65px;
    margin-bottom: 16px;
  }

  .Work__Title__Container {
    margin-top: 16px;
  }

  .Banner__Mid {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .Project__Pesona {
    margin-bottom: 30px;
  }
  
}

@media screen and (max-width: 600px) {
  .Project h1 {
    font-size: var(--S);
  }

  .Project h2 {
    font-size: var(--XXS);
  }

  .Project p {
    font-size: var(--XXS);
  }

  .Project__Logo__Pic {
    width: 60px;
    height: 17.5px;
    margin-right: 8px;
  }

  .Project__Link {
    height: 17.5px;
    margin-right: 6px;
  }
  .Work__Logo__Pic {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .Work__Icon__Pic {
    width: 60px;
    height: 60px;
    margin-bottom: 16px;
  }

  .Project {
    padding: 0px 0px 50px 0px;
  }

  .Project__Pesona {
    margin-bottom: 16px;
  }
}
